ToolsStore/Files/Xsd/Brand.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified"
  xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="packet">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="hdr">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="type">
                <xs:simpleType>
                  <xs:restriction base="xs:string">
                    <xs:pattern value="Brand"/>
                  </xs:restriction>
                </xs:simpleType>                
              </xs:element>
              <xs:element name="version" type="xs:decimal" fixed="1.1"/>
              <xs:element name="date" type="xs:string"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element maxOccurs="unbounded" name="rec">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="Code">
                <xs:simpleType>
                  <xs:restriction base="xs:string">
                    <xs:maxLength value="100"/>
                  </xs:restriction>
                </xs:simpleType>
              </xs:element>
              <xs:element name="Name">
                <xs:simpleType>
                  <xs:restriction base="xs:string">
                    <xs:maxLength value="500"/>
                  </xs:restriction>
                </xs:simpleType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>
